* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, #map {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  overflow: hidden;
}
ul {
  list-style: none;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  direction: rtl;
}
input[type="number"] {
  direction: rtl;
}
button {
  border: 0;
  cursor: pointer;
}
.drawBar {
  position: absolute;
  top: 50px;
  right: 10px;
}
.drawItem {
  position: relative;
  margin-bottom: 10px;
}
.drawBtn {
  width: 35px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  color: #5298ff;
  background: #f5f3f0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.drawBtn:active {
  background: #eee;
}
.redDot {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background:red;
  border-radius: 50%;
}
.division {
  margin-top: 30px;
}
.tipBox {
  position: absolute;
  top: 0px;
  right: 50px;
  opacity: 0;
}
.tip {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
  color: #333;
  background-color: #B3D8FF;
  border-radius: 5px;
  word-break: keep-all;
}
.triangle {
  position: absolute;
  top: calc(50% - 10px);
  right: -20px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #B3D8FF;
}
.drawBtn:hover+.tipBox {
  animation: show 1s;
  -webkit-animation: show 1s;
  animation-fill-mode: forwards;
}
.optionItem {
  padding: 5px;
  float: left;
  cursor: pointer;
}
#option {
  position: absolute;
  top: 20px;
  right: 500px;
  padding: 0 5px;
  border: 1px solid #5298ff;
  border-radius: 5px;
  background: #fff;
}
.container {
  position: absolute;
  width: 182px;
  top: 50px;
  right: 55px;
  border: 1px solid #5298ff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.banner {
  line-height: 32px;
  padding: 0 10px;
  color: #fff;
  background: #4b4a5e;
  opacity: 0.8;
}
.main {
  padding: 0 10px;
  background: #f5f3f0;
}
.subContainer {
  position: relative;
  padding-bottom: 10px;
}
.opt {
  position: relative;
  padding-top: 10px;
}
.optTitle {
  width: 60px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  background: #c5464a;
  color: #fff;
  border-radius: 5px 0 0 5px;
}
.opt input, .opt select {
  position: absolute;
  width: 100px;
  height: 28px;
  left: 60px;
  top: 10px;
  width: 100px;
  padding: 0 5px;
  border: 2px solid #c5464a;
  border-radius: 0 5px 5px 0;
  background: transparent;
  text-align: right;
}
.btn {
  margin-top: 10px;
  padding: 5px 10px;
  color: #fff;
  background: #5298ff;
  border-radius: 5px;
}
.btn:active {
  background: #3385ff;
}
.closeBtn {
  line-height: 32px;
  font-size: 12px;
  float: right;
}
.layers {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  background: #fff;
}
.layers_ul {
  min-height: 32px;
  max-height: 480px;
  padding: 0 10px;
  background: #f5f3f0;
  border: 1px solid #5298ff;
  overflow-y: auto;
}
.layers_li {
  padding: 5px 0;
}
.layers_option {
  float: right;
}
.layers_opt {
  font-size: 12px;
  font-weight: 500;
}
.layers_opt:active {
  color: #5298ff;
}
[v-cloak] {
  display: none;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}