<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>公交线路图 - DIY模式</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/maptalks/dist/maptalks.css">
<link rel="stylesheet" href="css/iconfont.css">
<link rel="stylesheet" href="css/diy.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/maptalks/dist/maptalks.min.js"></script>

<body>
  <div id="map"></div>
  <div id="app" v-cloak>
    <ul class="drawBar">
      <li class="drawItem" v-for="(item, index) of list" :key="index">
        <button class="iconfont drawBtn" @click="draw(item.fx, item.fy, item.fz)">{{item.icon}}</button>
        <div class="tipBox">
          <div class="tip">{{item.des}}</div>
          <div class="triangle"></div>
        </div>
      </li>
      <li class="drawItem">
        <button class="iconfont drawBtn" @click="openSet">&#xe61f;</button>
        <div class="tipBox">
          <div class="tip">管理</div>
          <div class="triangle"></div>
        </div>
      </li>
      <!-- <li class="drawItem division">
        <div class="redDot" v-show="udo">{{undo}}</div>
        <button class="iconfont drawBtn" @click="undo">&#xe61f;</button>
        <div class="tipBox">
          <div class="tip">撤销</div>
          <div class="triangle"></div>
        </div>
      </li>
      <li class="drawItem">
        <div class="redDot" v-show="rdo">{{redo}}</div>
        <button class="iconfont drawBtn" @click="redo">&#xe61f;</button>
        <div class="tipBox">
          <div class="tip">重做</div>
          <div class="triangle"></div>
        </div>
      </li> -->
    </ul>
    <ul class="container" v-show="showSet==='pl'">
      <li class="banner">路径样式</li>
      <div class="main">
        <div class="subContainer">
          <div class="opt">
            <p class="optTitle">颜色</p>
            <input type="color" v-model="plSymbol.lineColor">
          </div>
          <div class="opt">
            <p class="optTitle">线宽</p>
            <input type="number" min="1" max="10" step="1" v-model="plSymbol.lineWidth">
          </div>
          <div class="opt">
            <p class="optTitle">透明度</p>
            <input type="number" min="0.1" max="1.0" step="0.1" v-model="plSymbol.lineOpacity">
          </div>
          <div class="opt">
            <p class="optTitle">平滑</p>
            <select v-model="smooth" @change="setSmooth">
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </div>
          <button class="btn" @click="closeSet">完成</button>
        </div>
      </div>
    </ul>
    <ul class="container" v-show="showSet==='pg'">
      <li class="banner">区块样式</li>
      <div class="main">
        <div class="subContainer">
          <div class="opt">
            <p class="optTitle">边框色</p>
            <input type="color" v-model="pgSymbol.lineColor">
          </div>
          <div class="opt">
            <p class="optTitle">填充色</p>
            <input type="color" v-model="pgSymbol.polygonFill">
          </div>
          <div class="opt">
            <p class="optTitle">线宽</p>
            <input type="number" min="0" max="10" step="1" v-model="pgSymbol.lineWidth">
          </div>
          <div class="opt">
            <p class="optTitle">线透明</p>
            <input type="number" min="0" max="1.0" step="0.1" v-model="pgSymbol.lineOpacity">
          </div>
          <div class="opt">
            <p class="optTitle">块透明</p>
            <input type="number" min="0.1" max="1.0" step="0.1" v-model="pgSymbol.polygonOpacity">
          </div>
          <button class="btn" @click="closeSet">完成</button>
        </div>
      </div>
    </ul>
    <ul class="container" v-show="showSet==='po'">
      <li class="banner">图标样式</li>
      <div class="main">
        <div class="subContainer">
          <div class="opt">
            <p class="optTitle">形状</p>
            <select v-model="shape" @change="setShape">
              <option value="circle">圆点</option>
              <option value="bubble">气泡</option>
            </select>
          </div>
          <div class="opt" v-show="shape==='circle'">
            <p class="optTitle">边框色</p>
            <input type="color" v-model="poSymbol.markerLineColor">
          </div>
          <div class="opt" v-show="shape==='circle'">
            <p class="optTitle">填充色</p>
            <input type="color" v-model="poSymbol.markerFill">
          </div>
          <div class="opt" v-show="shape==='circle'">
            <p class="optTitle">线宽</p>
            <input type="number" min="1" max="10" step="1" v-model="poSymbol.markerLineWidth">
          </div>
          <div class="opt">
            <p class="optTitle">透明度</p>
            <input type="number" min="0.1" max="1.0" step="0.1" v-model="poSymbol.markerOpacity">
          </div>
          <button class="btn" @click="closeSet">完成</button>
        </div>
      </div>
    </ul>
    <ul class="container" v-show="showSet==='pt'">
      <li class="banner">文字样式</li>
      <div class="main">
        <div class="subContainer">
          <div class="opt">
            <p class="optTitle">颜色</p>
            <input type="color" v-model="ptSymbol.textFill">
          </div>
          <div class="opt">
            <p class="optTitle">大小</p>
            <input type="number" min="12" max="24" step="1" v-model="ptSymbol.textSize">
          </div>
          <button class="btn" @click="closeSet">完成</button>
        </div>
      </div>
    </ul>
    <ul class="container" v-show="showSet==='dt'">
      <li class="banner">地图管理</li>
      <div class="main">
        <div class="subContainer">
          <div class="opt">
            <p class="optTitle">底图</p>
            <select v-model="origin" @change="setMap">
              <option value="baidu">百度</option>
              <option value="tianditu">天地图</option>
            </select>
          </div>
          <div class="opt">
            <p class="optTitle">风格</p>
            <select v-model="style" @change="setMap">
              <option value="none">默认</option>
              <option value="grayscale(100%)">灰白</option>
              <option value="sepia(100%) invert(90%)">暗黑</option>
            </select>
          </div>
          <button class="btn" @click="save">导出为图片</button>
        </div>
      </div>
    </ul>
    <div class="layers" v-show="showLayers">
      <div class="banner">图层管理<span class="iconfont closeBtn" @click="closeLayers">&#xe6e9;</span></div>
      <ul class="layers_ul">
        <li class="layers_li" v-for="(item, index) of layers" :key="index">
          <span class="layers_name">{{item.name}}</span>
          <div class="layers_option">
            <span class="iconfont layers_opt" @click="upLayer(index)">&#xe6a9;</span>
            <span class="iconfont layers_opt" @click="downLayer(index)">&#xe6a8;</span>
            <span class="iconfont layers_opt" @click="hideLayer(index)" v-show="item.isShow">&#xe6e5;</span>
            <span class="iconfont layers_opt" @click="showLayer(index)" v-show="!item.isShow">&#xe6e4;</span>
            <span class="iconfont layers_opt" @click="removeLayer(index)">&#xe6e9;</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript" src="js/diy.js"></script>
  <script type="text/javascript" src="https://s96.cnzz.com/z_stat.php?id=1277659095&web_id=1277659095"></script>
</body>

</html>