* {
	margin:0;
	padding:0;
	list-style:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:0;
	font-family:'微软雅黑'
}
html,body {
	height:100%
}
#map {
	height:100%
}
#container {
	position:absolute;
	width:182px;
	top:20px;
	right:30px;
	border:1px solid #5298ff
}
.set {
	padding:5px 10px;
	color:#fff;
	background:#4b4a5e;
	opacity:.8
}
.sub {
	display:none;
	padding:0 10px;
	background:#f5f3f0
}
.sub0 {
	display:block
}
.subContainer {
	padding-bottom:10px
}
.opt {
	position:relative;
	padding-top:10px
}
.optTitle {
	width:60px;
	height:28px;
	line-height:28px;
	font-size:14px;
	text-align:center;
	background:#c5464a;
	color:#fff;
	border-radius:5px 0 0 5px
}
.opt input,.opt select {
	position:absolute;
	width:100px;
	height:28px;
	left:60px;
	top:10px;
	width:100px;
	padding:0 5px;
	border:2px solid #c5464a;
	border-radius:0 5px 5px 0;
	background:transparent;
	text-align:right
}
.opt input[type="number"] {
	direction:rtl
}
select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	direction:rtl
}
button {
	margin-top:10px;
	padding:5px 10px;
	color:#fff;
	background:#5298ff;
	border:0;
	border-radius:5px
}
.sub0 button {
	margin-right:8px
}
.icon {
	float:right
}
.disable {
	background:#999
}
@media screen and (max-width:768px) {
	#container {
	top:10px;
	right:10px
}
}